<<<<<<< HEAD
<div class='home-container'>
	<form method='post' action='/api/sessions/logout'>
		<p>Welcome <strong>{{user.email}}</strong></p>
		<p>Your role is <strong>{{user.role}}</strong></p>
		<input type='submit' value='Logout' class='home-button' />
	</form>
</div>
=======
<div class='cart-container'>
	<div class='cart-list'>
		{{#each payload}}
			<div class='cart-item'>
				<p>{{this._id.title}}</p>
				<p>${{this._id.price}}</p>
				<p>x{{this.quantity}}</p>
				<p><strong>${{multiply this._id.price this.quantity}}</strong></p>
			</div>
		{{/each}}

		<div>
			<p class='cart-total-text'>TOTAL: ${{total payload}}</p>
			<button class='cart-total-button'>PURCHASE</button>
		</div>
	</div>

</div>
>>>>>>> dabec96f357d0dc304824d02a2679c0a4c871ac9
