<<<<<<< HEAD
<div class='login-container'>

	<p>Login</p>
	<a href='/register'>Sign up</a>
	<a href='/api/sessions/github'>Github</a>

	<form class='login-form'>
		<label>Email</label>
		<input type='email' name='email' required />

		<label>Password</label>
		<input type='password' name='password' required />

		<input type='submit' value='Send' class='login-button' />
	</form>

</div>

<script src='/js/login.js'></script>
=======
<div class='cart-container'>
	<div class='cart-list'>
		{{#each payload}}
			<div class='cart-item'>
				<p>{{this._id.title}}</p>
				<p>${{this._id.price}}</p>
				<p>x{{this.quantity}}</p>
				<p><strong>${{multiply this._id.price this.quantity}}</strong></p>
			</div>
		{{/each}}

		<div>
			<p class='cart-total-text'>TOTAL: ${{total payload}}</p>
			<button class='cart-total-button'>PURCHASE</button>
		</div>
	</div>

</div>
>>>>>>> dabec96f357d0dc304824d02a2679c0a4c871ac9
