<div class='product-container'>
	<div class='product-item'>
		<p>Product: {{product.title}}</p>
		<p>Description: {{product.description}}</p>
		<p>Price: ${{product.price}}</p>
		<p>Stock: {{product.stock}}</p>
		<p>Category: {{product.category}}</p>
	</div>

	<form class='product-form' cart='{{cart}}' product='{{product._id}}'>
		<input type='submit' value='Add to cart' class='product-button' />
	</form>

</div>

<script src='/js/products.js'></script>