<div class='products-container'>
	<div class='products-list'>

			{{#each payload}}
			<div class="product-item">

				<a href="./product/{{this._id}}" class="product-link">
					<p>Product: {{this.title}}</p>
					<p>Category: {{this.category}}</p>
					<p>Price: ${{this.price}}</p>
					<p>Stock: {{this.stock}}</p>
				</a>

				<form
					class='product-form'
					cart="{{../cart}}"
					product="{{this._id}}"
				>
				<input type='submit' value='Add to cart' class="product-button" />
			</form>

			</div>
		{{/each}}

	</div>

	<div class='paginate-container'>
		{{#if hasPrevPage}}
			<a
				href='/products?query={{query}}&limit={{limit}}&page={{prevPage}}&sort={{sort}}'
			><button class='paginate-button'>Previus</button></a>
		{{/if}}

		<p class='paginate-current'>{{page}}</p>

		{{#if hasNextPage}}
			<a
				href='/products?query={{query}}&limit={{limit}}&page={{nextPage}}&sort={{sort}}'
			><button class='paginate-button'>Next</button></a>
		{{/if}}
	</div>
</div>

<script src='/js/products.js'></script>